@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';


.Events{
    @include ms-Grid-col;
    @include ms-lg3;
    @include ms-md3;
    @include ms-sm12;
    height: 350px;
    margin: 0 15px;

    .MainCard {
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction:column;

        .SectionDate {
            width: 100%;
            height: 40%;    
        }

        .SectionDetails{
            width: 100%;
            height: 60%;  
        }

    }
}