.Filter{
    width: 100%;
    height: 40px;
    display: flex;
    background-color: rgb(244, 244, 244);
    margin-bottom: 5px;

    .LabelText{
        margin: 0px 10px;
        align-self: center;
    }

    .DropDownContainer{
        align-self: center;
    }
}